@using ElGroupo.Web.Models.Shared
@model IEnumerable<IdValueModel>

<div style="text-align:center;">
    <h2>Records Admin</h2>
    <div style="width:100%">
        <a asp-controller="Records" asp-action="Categories">Edit Categories</a>
    </div>
    <div style="width:100%">
        <a asp-controller="Records" asp-action="Elements">Edit Elements</a>
    </div>
    <div style="width:100%">
        <a asp-controller="Records" asp-action="LookupTables">Edit Lookup Tables</a>
    </div>
</div>


