<html>
<head>
    <title>El Groupo!</title>
    <link href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-BVYiiSIFeK1dGmJRAkycuHAHRg32OmUcww7on3RYdg4Va+PmSTsz/K68vbdEjh4u" crossorigin="anonymous">
    <link rel="stylesheet" type="text/css" href="~/content/vendors/css/normalize.css">
    <link rel="stylesheet" type="text/css" href="~/content/vendors/css/Grid.css">
    <link rel="stylesheet" type="text/css" href="~/content/vendors/css/ionicons.min.css">
    <link rel="stylesheet" type="text/css" href="~/content/vendors/css/animate.css">

    <link href="~/content/resources/css/queries.css" rel="stylesheet" />
    <link href="~/content/lib/css/jquery-ui.css" rel="stylesheet" />
    <link href="https://fonts.googleapis.com/css?family=Lato:100,300,300i,400" rel="stylesheet">
    <link href="~/content/resources/css/style.css" rel="stylesheet" />
</head>
<body class="panel-body">
    @await Component.InvokeAsync("HeaderComponent")
    <div id="main" style="min-height:65%;">
        @RenderBody()
    </div>




    @await  Html.PartialAsync("_Footer")

    <div id="divDialog" style="display:none;"></div>
    <script src="https://ajax.aspnetcdn.com/ajax/jquery/jquery-2.2.0.min.js"
            asp-fallback-src="~/content/libljquery.js"
            asp-fallback-test="window.jQuery">
    </script>
    <script src="https://code.jquery.com/ui/1.12.1/jquery-ui.min.js"></script>
    @RenderSection("scripts", required: false)
    <script type="text/javascript">
        function openNav() {
            document.getElementById("mySidenav").style.width = "250px";
            //document.getElementById("main").style.marginLeft = "250px";
        }

        function closeNav() {
            document.getElementById("mySidenav").style.width = "0";
            //document.getElementById("main").style.marginLeft = "0";
        }
    </script>
    <script type="text/javascript" src="~/content/scripts/shared/header.js"></script>
    <script type="text/javascript" src="~/content/scripts/shared/switch-container.js"></script>
</body>
</html>