<html>
<head>
    <title>Footprint</title>
    <link href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-BVYiiSIFeK1dGmJRAkycuHAHRg32OmUcww7on3RYdg4Va+PmSTsz/K68vbdEjh4u" crossorigin="anonymous">
    <link rel="stylesheet" type="text/css" href="~/content/vendors/css/normalize.css">
    <link rel="stylesheet" type="text/css" href="~/content/vendors/css/Grid.css">
    <link rel="stylesheet" type="text/css" href="~/content/vendors/css/ionicons.min.css">
    <link rel="stylesheet" type="text/css" href="~/content/vendors/css/animate.css">

    <link href="~/content/resources/css/queries.css" rel="stylesheet" />
    <link href="~/content/lib/css/jquery-ui.css" rel="stylesheet" />
    <link href="https://fonts.googleapis.com/css?family=Lato:100,300,300i,400" rel="stylesheet">
    <link href="~/content/resources/css/style.css" rel="stylesheet" />
</head>
<body class="panel-body">
    @await Component.InvokeAsync("HeaderComponent")
    <div id="main" style="min-height:65%;z-index:1">
        @RenderBody()
    </div>
    <div id="divConfirm" style="display:none; z-index:999; height:100%;width:100%;position:absolute;top:0px;left:0px;">
        <div style="position:absolute; top:50%; left:50%; transform:translate(-50%, -50%);padding:30px; border:3px solid gray; border-radius:25px; background-color:white;">
            <div class="row">
                <div class="col span-2-of-2 centered">
                    <span id="spanConfirmationMessage"></span>
                </div>
                <div class="col span-1-of-4"></div>
                <div class="col span-1-of-4"><button id="btnConfirmYes" class="btn-primary width-100">Yes</button></div>
                <div class="col span-1-of-4"><button id="btnConfirmNo" class="btn-primary width-100">No</button></div>
                <div class="col span-1-of-4"></div>
            </div>
        </div>

    </div>
    <div id="divConfirmRecurrence" style="display:none;">
        <div class="row">
            <div class="col span-2-of-2 centered">
                <span id="spanConfirmationMessageRecurrence"></span>
            </div>
            <div class="col span-1-of-5"></div>
            <div class="col span-1-of-5"><button id="btnConfirmRecurrenceYes" class="btn-primary width-100">All Recurring Events</button></div>
            <div class="col span-1-of-5"><button id="btnConfirmRecurrenceNo" class="btn-primary width-100">This Event Only</button></div>
            <div class="col span-1-of-5"><button id="btnConfirmRecurrenceCancel" class="btn-primary width-100">Cancel</button></div>
            <div class="col span-1-of-4"></div>
        </div>
    </div>



    @*@await  Html.PartialAsync("_Footer")*@

    <div id="divDialog" style="display:none;"></div>
    <script src="https://ajax.aspnetcdn.com/ajax/jquery/jquery-2.2.0.min.js"
            asp-fallback-src="~/content/libljquery.js"
            asp-fallback-test="window.jQuery">
    </script>
    <script src="https://code.jquery.com/ui/1.12.1/jquery-ui.min.js"></script>
    @RenderSection("scripts", required: false)
    <script type="text/javascript">
        function openNav() {
            document.getElementById("mySidenav").style.width = "250px";
            //document.getElementById("main").style.marginLeft = "250px";
        }

        function closeNav() {
            document.getElementById("mySidenav").style.width = "0";
            //document.getElementById("main").style.marginLeft = "0";
        }
    </script>
    <script type="text/javascript" src="~/content/scripts/shared/header.js"></script>
    <script type="text/javascript" src="~/content/scripts/shared/switch-container.js"></script>
    <script type="text/javascript" src="~/content/scripts/shared/tab-links.js"></script>
    <script type="text/javascript">
        var Confirm = function (message, callbackYes, callbackNo) {
            var cbYes = callbackYes;
            var cbNo = callbackNo;
            //$("#main").hide();
            $("#main").css('opacity', 0.2);
            $("#divConfirm").show();
            $("#spanConfirmationMessage").text(message);
            $("#btnConfirmYes").on("click", function () {
                $("#divConfirm").hide();
                $("#main").show();
                $("#btnConfirmYes").off("click");
                $("#btnConfirmNo").off("click");
                if (cbYes) cbYes();
            });
            $("#btnConfirmNo").on("click", function () {

                //$("#main").show();
                $("#main").css('opacity', 1);
                $("#divConfirm").hide();
                $("#btnConfirmYes").off("click");
                $("#btnConfirmNo").off("click");
                if (cbNo) cbNo();
            });
        }
        var ConfirmRecurrence = function (message, callbackYesRecurrence, callbackNoRecurrence) {
            var cbYes = callbackYesRecurrence;
            var cbNo = callbackNoRecurrence;
            $("#main").hide();
            $("#divConfirmRecurrence").show();
            $("#spanConfirmationMessageRecurrence").text(message);
            $("#btnConfirmRecurrenceYes").on("click", function () {
                $("#divConfirmRecurrence").hide();
                $("#main").show();
                $("#btnConfirmRecurrenceYes").off("click");
                $("#btnConfirmRecurrenceNo").off("click");
                $("#btnConfirmRecurrenceCancel").off("click");
                if (cbYes) cbYes();
            });
            $("#btnConfirmRecurrenceNo").on("click", function () {

                $("#main").show();
                $("#divConfirmRecurrence").hide();
                $("#btnConfirmRecurrenceYes").off("click");
                $("#btnConfirmRecurrenceNo").off("click");
                $("#btnConfirmRecurrenceCancel").off("click");
                if (cbNo) cbNo();
            });
            $("#btnConfirmRecurrenceCancel").on("click", function () {

                $("#main").show();
                $("#divConfirmRecurrence").hide();
                $("#btnConfirmRecurrenceYes").off("click");
                $("#btnConfirmRecurrenceNo").off("click");
                $("#btnConfirmRecurrenceCancel").off("click");
            });
        }
    </script>
</body>
</html>