@using ElGroupo.Web.Models.Activities
@model CreateActivityModel

@functions{
    public string GenerateId(string prefix, object val)
    {
        return prefix + val.ToString();

    }


}

<section class="create-activity-group" style="padding:20px;">
    <div class="row">
        <h4 id="divGroupName">@Model.ActivityGroupName</h4>

    </div>

    <input type="hidden" asp-for="ActivityGroupId" />

    @Html.Partial("_CreateActivity", Model)
    <div class="row centered">
        <button id="btnCreate" class="btn btn-primary">Create Activity</button>

    </div>
    <div class="row centered" style="margin-top:0px;">
        <div class="col" style="text-align:center; font-size:0.7em; width:100%;">
            <a asp-controller="Activities" asp-action="Group" asp-route-activityGroupId="@Model.ActivityGroupId">Cancel</a>
        </div>
    </div>
</section>
@section Scripts{
    <script type="text/javascript" src="~/content/scripts/activities/create-activity.js"></script>
    <script type="text/javascript" src="~/content/scripts/shared/start-end-dates.js"></script>
    <script type="text/javascript">

        $(document).ready(function () { 
            StartEndDates.Init('section.create-activity-group');
        });
        
    </script>

}
