@using ElGroupo.Web.Models.Events
@model ViewEventDetailsModel

@{ 
    Layout = null;
}

<div class="row">
    <div class="row">
        <div class="col span-1-of-4">
            <label>Select People to Invite:</label>
        </div>

        <div class="col span-3-of-4 switch-field">
            <input id="rbMyConnections" class="contact-search-rb" name="selection" checked type="radio" />
            <label for="rbMyConnections">Search within My Connections</label>
            <input id="rbExistingContacts" class="contact-search-rb" name="selection" checked type="radio" />
            <label for="rbExistingContacts">Search for ElGroupo Members</label>
            <input id="rbNewContact" class="contact-search-rb" name="selection" type="radio" />
            <label for="rbNewContact">Enter Name and Email</label>
        </div>


    </div>
    <div class="row">
        <div class="switch-container">
            <div class="switch-selected">Search within My Connections</div>
            <div>Search for ElGroupo Members</div>
            <div>Enter Name and Email</div>
        </div>
    </div>


    <div class="row">
        <div class="switch-container">
            <span class="switch-selected">Search within My Connections</span>
            <span>Search for ElGroupo Members</span>
            <span>Enter Name and Email</span>
        </div>
    </div>

    <div class="row select-existing-contacts">
        <div class="col span-2-of-10"><label>Enter Name or Email Address:</label></div>
        <div class="col span-5-of-10">
            <input id="txtAttendees" class="width-100" />
        </div>
        <div class="col span-1-of-10">
            <label for="owner">Event Owner?</label>
            <input name="owner" id="chkOwner" type="checkbox" />

        </div>
        <div class="col span-2-of-10">
            <a class="btn btn-primary" disabled id="btnAddAttendee">Add Attendee</a>
        </div>
    </div>
    <div class="row manual-search">
        <div class="col span-1-of-4">
            <label for="new-user-name">Name:</label>
        </div>
        <div class="col span-3-of-4">
            <input class="width-100" name="new-user-name" id="txtNewUserName">
        </div>
    </div>
    <div class="row manual-search">
        <div class="col span-1-of-4">
            <label for="new-user-email">Email:</label>
        </div>
        <div class="col span-3-of-4">
            <input class="width-100" name="new-user-email" id="txtNewUserEmail" type="email">
        </div>
    </div>
    <div class="row manual-search">
        <div class="col span-1-of-4">
            <a id="btnAddNewUser" class="btn btn-primary">Invite New User!</a>
        </div>

    </div>

</div>