@using ElGroupo.Web.Models.Events
@using ElGroupo.Web.Models.Enums
@model ElGroupo.Web.Models.Events.EditEventDetailsModel

@{

    Layout = null;
}
<form id="frmEditEventDetails" class="contact-form centered">
    @*<input type="hidden" id="OriginalStatus" value="@Model.Status" />*@
    <input asp-for="EventId" type="hidden" />
    <div class="row">
        <div class="row">
            <label asp-for="Name">Name:</label>
        </div>
        <div class="row">
            <input class="width-100" asp-for="Name" placeholder="Enter Event Name...">
        </div>
    </div>
    <div class="row">
        <div class="row">
            <label asp-for="Description">Description:</label>
        </div>
        <div class="row">
            <textarea class="width-100" asp-for="Description" placeholder="Enter Event Description..."></textarea>
        </div>
    </div>
    <div class="row">
        <label>RSVP Required?</label>
    </div>
    <div class="row">

        <div class="col span-1-of-2">
            <input id="idRSVPYes" type="radio" asp-for="RSVPRequired" value="true" />
            <label for="idRSVPYes">Yes</label>
        </div>
        <div class="col span-1-of-2">
            <input id="idRSVPNo" type="radio" asp-for="RSVPRequired" value="false" />
            <label for="idRSVPNo">No</label>
        </div>
    </div>
    <div class="row verification-method">
        <label>Check-In Verification:</label>
    </div>
    <div class="row verification-method">

        <div class="col span-1-of-3">
            <input id="rbVerifyNone" type="radio" asp-for="AttendanceVerificationMethod" value="None" />
            <label for="rbVerifyNone">None</label>
        </div>
        <div class="col span-1-of-3">
            <input id="rbVerifyPasswordOrLocation" type="radio" asp-for="AttendanceVerificationMethod" value="PasswordOrLocation" />
            <label for="rbVerifyPasswordOrLocation">Password or Location</label>
        </div>
        <div class="col span-1-of-3">
            <input id="rbVerifyPassword" type="radio" asp-for="AttendanceVerificationMethod" value="PasswordOnly" />
            <label for="rbVerifyPassword">Password Only</label>
        </div>
    </div>
    <div class="row verification-code" style="display:none;">
        <label asp-for="VerificationCode">Code:</label>

    </div>
    <div class="row verification-code" style="display:none;">

        <input type="text" asp-for="VerificationCode" class="width-100" placeholder="Enter Event Code...">

    </div>
    <div class="row location-tolerance" style="display:none;">
        <label>Location Accuracy</label>
    </div>
    <div class="row location-tolerance" style="display:none;">

        <div class="col span-1-of-6"></div>
        <div class="col span-1-of-6">
            <input type="radio" value="high" id="loc-tolerance-high" name="loc-tolerance" />
            <label for="loc-tolerance-high">High</label>
        </div>
        <div class="col span-1-of-6">
            <input type="radio" value="medium" id="loc-tolerance-medium" name="loc-tolerance" />
            <label for="loc-tolerance-medium">Medium</label>
        </div>
        <div class="col span-1-of-6">
            <input type="radio" value="low" id="loc-tolerance-low" name="loc-tolerance" />
            <label for="loc-tolerance-low">Low</label>
        </div>
        <div class="col span-1-of-6">
            <input type="radio" value="custom" id="loc-tolerance-custom" name="loc-tolerance" />
            <label for="loc-tolerance-custom">Custom</label>
        </div>
        <div class="col span-1-of-6"></div>

    </div>
    <div class="row location-tolerance-custom" style="display:none;">
        <div class="row">
            <label asp-for="LocationTolerance">Location Tolerance (ft):</label>
        </div>
    </div>
    <div class="row location-tolerance-custom" style="display:none;">
        <div class="row">
            <input asp-for="LocationTolerance" class="width-100" placeholder="Enter Location Tolerance...">
        </div>
    </div>
    @*<div class="row">
        <div class="col span-1-of-4">
            <label>Saved as Draft?</label>
        </div>
        <div data-replace-element="Status" class="switch-container col span-3-of-4">
            <input class="invisible" asp-for="Status" />
            @if (Model.Status == ElGroupo.Domain.Enums.EventStatus.Draft)
            {
                <span data-replace-val="Draft" class="switch-selected col span-1-of-3">Draft</span>

            }

            <span data-replace-val="Active" class="col span-1-of-3">Active</span>
            <span data-replace-val="Cancelled" class="col span-1-of-3">Cancelled</span>
        </div>
    </div>*@
</form>
