@using ElGroupo.Web.Models.Events
@model EventAttendeesModel

@{
    Layout = null;
}


@*<div class="row">

        <div class="col width-100 switch-container search-method">
            <div data-action="connections" class="switch-selected span-1-of-3">Search My Connections/Groups</div>
            <div data-action="all" class="span-1-of-3">Search All ElGroupo Members</div>
            <div data-action="manual" class="span-1-of-3">Enter New Name and Email</div>
        </div>

    </div>*@
<div style="display:none;">@Model.</div>
<div class="row select-existing-contacts">
    <div class="row">

        <label style="text-transform:uppercase; font-size:14px;">Search:</label>
        <input type="text" class="no-border" style="color: #2d2d2d; border:none; border-radius:0px; width:70%; font-size:14px; text-transform:uppercase;" placeholder="Search Name, Email or Group Name" id="txtAttendeeSearch" />
    </div>
</div>
<div class="row attendee-search-method centered">
    <div class="col span-1-of-3">
        <input id="my-connections" name="attendee-search-method" type="radio" value="my-connections" checked />
        <label for="my-connections" style="font-size:14px; text-transform:uppercase;">My Connections/Groups</label>
    </div>
    <div class="col span-1-of-3">
        <input id="all-users" name="attendee-search-method" type="radio" value="all" />
        <label for="all-users" style="font-size:14px; text-transform:uppercase;">All Users</label>
    </div>
    <div class="col span-1-of-3">
        <input id="add-new" name="attendee-search-method" type="radio" value="new" />
        <label for="add-new" style="font-size:14px; text-transform:uppercase;">Invite New User</label>
    </div>
</div>
<div class="row  select-existing-contacts centered">
    <button id="btnAddSelectedUser" style="display:none;" class="btn btn-primary">Add User</button>
</div>

<div class="row manual-search centered" style="display:none;">
    <div class="row">
        <label style="text-transform:uppercase; font-size:14px;">Name:</label>
        <input type="text" class="no-border" style="color: #2d2d2d; border:none; border-radius:0px; width:70%; font-size:14px; text-transform:uppercase;" placeholder="Enter name of new user..." id="txtNewUserName" />
    </div>
    <div class="row">
        <label style="text-transform:uppercase; font-size:14px;">Email:</label>
        <input type="email" class="no-border" style="color: #2d2d2d; border:none; border-radius:0px; width:70%; font-size:14px; text-transform:uppercase;" placeholder="Enter email of new user..." id="txtNewUserEmail" />
    </div>
    <div class="row centered">
        <button class="btn btn-primary" style="display:none;" id="btnInviteNewUser">Invite</button>
    </div>



</div>
<div class="row centered">
    @Html.Partial("_EditEventAttendeeList", Model.Attendees)
</div>

<div class="row centered">
    <div style="font-size:12px; text-transform:uppercase" class="width-100">Users with a purple border are event organizers.</div>
    <div style="font-size:12px; text-transform:uppercase" class="width-100">Click on the user image to toggle this on and off.</div>
</div>

<script type="text/javascript">
    EditEventAttendees.OriginalObject = @Html.Raw(Json.Serialize(Model));
</script>