@using ElGroupo.Web.Models.Events
@using ElGroupo.Domain.Enums
@model IEnumerable<EventAttendeeModel>
@{
    Layout = null;
}
@functions{
    public List<List<T>> SplitList<T>(IEnumerable<T> values, int groupSize, int? maxCount = null)
    {
        List<List<T>> result = new List<List<T>>();
        // Quick and special scenario
        if (values.Count() <= groupSize)
        {
            result.Add(values.ToList());
        }
        else
        {
            List<T> valueList = values.ToList();
            int startIndex = 0;
            int count = valueList.Count;
            int elementCount = 0;

            while (startIndex < count && (!maxCount.HasValue || (maxCount.HasValue && startIndex < maxCount)))
            {
                elementCount = (startIndex + groupSize > count) ? count - startIndex : groupSize;
                result.Add(valueList.GetRange(startIndex, elementCount));
                startIndex += elementCount;
            }
        }


        return result;

    }
    public string GetImageUrl(long id)
    {
        var url = Url.Action("UserPhoto", "Users", new { id = id });
        return url;
    }
    public string GetUserViewLink(long id)
    {
        var url = Url.Action("View", "Account", new { id = id });
        return url;

    }

    public string GetNewUserNameAttribute(EventAttendeeModel att)
    {
        if (!att.IsRegistered) return att.Name;
        return null;

    }
    public string GetNewUserEmailAttribute(EventAttendeeModel att)
    {
        if (!att.IsRegistered) return att.Email;
        return null;

    }

    public string GetInvitedUserAttributes(EventAttendeeModel att)
    {
        if (att.IsRegistered) return null;
        return "data-invited-user data-new-user-email=\"" + att.Email + "\" data-new-user-name=\"" + att.Name + "\"";

    }
    public string GetUserIdAttributes(EventAttendeeModel att)
    {
        if (att.EventAttendeeId.HasValue) return "data-event-attendee-id=\"" + att.EventAttendeeId.Value + "\"";
        else if (att.UserId.HasValue) return "data-user-id=\"" + att.UserId.Value + "\"";
        else if (att.UserGroupId.HasValue) return "data-group-id=\"" + att.UserGroupId.Value + "\"";
        return null;

    }

}
@if (Model.Any())
{
    @*justify-content:center;*@
    <div id="divAttendeeList" style="display:flex; flex-wrap:wrap; ">
        @foreach (var att in Model)
        {

@Html.Partial("_EditEventAttendeeListItem", att)

        }
    </div>




}
else
{
    <h3 style="text-align:center;">This event has no attendees...</h3>

}
