@using ElGroupo.Web.Models.Events
@using ElGroupo.Web.Models.Enums
@model ElGroupo.Web.Models.Events.EditEventLocationModel

@{

    Layout = null;
}


<form id="frmEditEventLocation" class="centered">


    <div class="row">
        <label>Location Search Method:</label>
    </div>
    <div class="row location-search-method" style="margin-top:20px;">
        <div class="col span-1-of-4">
            <input id="rbSearchAddress" type="radio" name="location-search-method" value="address" checked />
            <label for="rbSearchAddress">Address</label>
        </div>
        <div class="col span-1-of-4">
            <input id="rbSearchBusiness" type="radio" name="location-search-method" value="business" />
            <label for="rbSearchBusiness">Business</label>
        </div>
        <div class="col span-1-of-4">
            <input id="rbSearchPin" type="radio" name="location-search-method" value="draw" />
            <label for="rbSearchPin">Drop a Pin</label>
        </div>
        <div class="col span-1-of-4">
            <input id="rbSearchManual" type="radio" name="location-search-method" value="manual" />
            <label for="rbSearchManual">Manual Entry</label>
        </div>
    </div>



    <div class="row location-search" style="margin-top:40px;">
        <label id="lblSearchType">Search Address:</label>
        <div class="row">
            <input style="width:100%;" id="txtAutocompleteSearch" type="text" />
        </div>
    </div>
    <div class="row map-search">
        <div class="col span-7-of-7">
            <div id="divMap" style="width:100%;height:300px"></div>
            <div id="infowindow-content">
                <img src="" width="16" height="16" id="place-icon">
                <span id="place-name" class="title"></span><br>
                <span id="place-address"></span>
                <a style="float:left;" class="btn btn-primary select-link">Select Location!</a>
            </div>
        </div>

    </div>

    <div class="row manual-search">
        <div class="col span-1-of-4" style="text-align:left;">
            <label asp-for="Address1">Address 1:</label>
        </div>
        <div class="col span-3-of-4">
            <input class="width-100" asp-for="Address1">
        </div>
    </div>
    <div class="row manual-search" style="text-align:left;">
        <div class="col span-1-of-4">
            <label asp-for="Address2">Address 2:</label>
        </div>
        <div class="col span-3-of-4">
            <input class="width-100" asp-for="Address2">
        </div>
    </div>
    <div class="row manual-search">
        <div class="col span-1-of-4" style="text-align:left;">
            <label asp-for="City">City:</label>
        </div>
        <div class="col span-3-of-4">
            <input class="width-100" asp-for="City">
        </div>
    </div>
    <div class="row manual-search">
        <div class="col span-1-of-8" style="text-align:left;">
            <label asp-for="State">State:</label>
        </div>
        <div class="col span-3-of-8">
            <input asp-for="State">
        </div>
        <div class="col span-1-of-8">
            <label asp-for="ZipCode">Zip:</label>
        </div>
        <div class="col span-3-of-8">
            <input asp-for="ZipCode">
        </div>
    </div>
    <div class="row manual-search-button centered" style="display:none;">
        <input type="button" class="btn btn-primary" id="btnSearchAddress" value="Search Address" />
    </div>
    <div class="row" style="margin-top:40px;">
        <label asp-for="LocationName">Location Description:</label>
        <div class="row">
            <input class="width-100" asp-for="LocationName">
        </div>
    </div>

    <input type="hidden" asp-for="XCoord" />
    <input type="hidden" asp-for="YCoord" />
    <input type="hidden" asp-for="GooglePlaceId" />
</form>