@using ElGroupo.Web.Models.Events
@model IEnumerable<EventOrganizerModel>
@{
    Layout = null;
}

<table id="tblOrganizers" class="row width-100">
    <thead>
        <tr>
            <th>Name</th>
            <th>Phone</th>
            <th>Owner</th>
            <th style="width:100px;">Remove</th>

        </tr>
    </thead>
    <tbody>
        @foreach (var m in Model)
        {
            <tr>
                <td>@m.Name</td>
                <td>@m.PhoneNumber</td>
                <td><input asp-for="@m.Owner" /></td>
                <td><a data-contact-id="@m.Id" style="cursor:pointer; color:blue" class="btn btn-ghost" data-action-type="delete">Delete</a></td>
            </tr>
        }
    </tbody>
</table>