@using ElGroupo.Web.Models.Events
@using ElGroupo.Web.Models.Enums
@model EditEventModel

<style type="text/css">
    #infowindow-content .title {
        font-weight: bold;
    }

    #infowindow-content {
        display: none;
    }

    #divMap #infowindow-content {
        display: inline;
    }

    .row.search-method {
        display: none;
    }


    input[type=text], input[type=select]{
        width:100%;
    }
</style>

<section class="section-form">
    <div class="row">
        <h2>Edit your dumb event asshole!</h2>
    </div>
    <div class="row">
        <div asp-validation-summary="All" class="text-danger"></div>
        <form id="frmEditEvent" asp-controller="Events" asp-action="SaveEdits" method="post" class="contact-form">
            <input type="hidden" asp-for="Id" />
            <div class="row">
                <div class="col span-1-of-3">
                    <label asp-for="Name">Name:</label>
                </div>
                <div class="col span-2-of-3">
                    <input asp-for="Name" placeholder="Enter Event Name...">
                </div>
            </div>
            <div class="row">
                <div class="col span-1-of-3">
                    <label asp-for="Description">Description:</label>
                </div>
                <div class="col span-2-of-3">
                    <input asp-for="Description" placeholder="Enter Event Description...">
                </div>
            </div>
            <div class="row">
                <div class="col span-1-of-3">
                    <label asp-for="EventDate">Date:</label>
                </div>
                <div class="col span-2-of-3">
                    <input asp-for="EventDate" placeholder="Enter Event Date...">
                </div>
            </div>
            <div class="row">
                <div class="col span-3-of-6">
                    <label asp-for="StartHour">Start:</label>
                </div>
                <div class="col span-1-of-6">
                    <select asp-for="StartHour">
                        <option value="12" selected>12</option>
                        @for (int hour = 1; hour <= 11; hour++)
                        {
                            <option value="@hour">@hour.ToString()</option>
                        }
                    </select>
                </div>
                <div class="col span-1-of-6">
                    <select asp-for="StartMinute">
                        <option value="0" selected>00</option>
                        <option value="15">:15</option>
                        <option value="30">:30</option>
                        <option value="45">:45</option>
                    </select>
                </div>
                <div class="col span-1-of-6">
                    <select asp-for="StartAMPM" asp-items="Html.GetEnumSelectList<AMPM>()">
                        <option value="" selected></option>
                    </select>
                </div>

            </div>
            <div class="row">
                <div class="col span-3-of-6">
                    <label asp-for="EndHour">End:</label>
                </div>
                <div class="col span-1-of-6">
                    <select asp-for="EndHour">
                        <option value="12" selected>12</option>
                        @for (int hour = 1; hour <= 11; hour++)
                        {
                            <option value="@hour">@hour.ToString()</option>
                        }
                    </select>
                </div>
                <div class="col span-1-of-6">
                    <select asp-for="EndMinute">
                        <option value="0" selected>00</option>
                        <option value="15">:15</option>
                        <option value="30">:30</option>
                        <option value="45">:45</option>
                    </select>
                </div>
                <div class="col span-1-of-6">
                    <select asp-for="EndAMPM" asp-items="Html.GetEnumSelectList<AMPM>()">
                        <option value="" selected></option>
                    </select>
                </div>

            </div>
            <div class="row search-method">
                <div class="col span-1-of-3">
                    <label>Search Method:</label>
                </div>
                <div class="col span-1-of-3">
                    <input id="rbMapSelectionAddress" name="selection" value="map" checked type="radio" /> Address
                </div>
                <div class="col span-1-of-3">
                    <input id="rbMapSelectionPlace" name="selection" value="place" type="radio" /> Business
                </div>
            </div>
            <div class="row search-method">
                <div class="col span-1-of-4">
                    <label asp-for="LocationName">Search Location:</label>
                </div>
                <div class="col span-3-of-4">
                    <input style="width:100%;" asp-for="LocationName" type="text" />
                </div>
            </div>
            <div class="row" style="text-align:center;">

                    <a class="btn btn-primary width-100">Edit Address</a>

            </div>
            <div class="row business-name manual-search">
                <div class="col span-1-of-4">
                    <label for="BusinessName">Business Name:</label>
                </div>
                <div class="col span-3-of-4">
                    <input class="width-100" id="txtBusinessName" type="text" value="">
                </div>
            </div>
            <div class="row manual-search">
                <div class="col span-1-of-4">
                    <label asp-for="Address1">Address 1:</label>
                </div>
                <div class="col span-3-of-4">
                    <input class="width-100" asp-for="Address1">
                </div>
            </div>
            <div class="row manual-search">
                <div class="col span-1-of-4">
                    <label asp-for="Address2">Address 2:</label>
                </div>
                <div class="col span-3-of-4">
                    <input class="width-100" asp-for="Address2">
                </div>
            </div>
            <div class="row manual-search">
                <div class="col span-1-of-4">
                    <label asp-for="City">City:</label>
                </div>
                <div class="col span-3-of-4">
                    <input class="width-100" asp-for="City">
                </div>
            </div>
            <div class="row manual-search">
                <div class="col span-1-of-8">
                    <label asp-for="State">State:</label>
                </div>
                <div class="col span-3-of-8">
                    <input asp-for="State">
                </div>
                <div class="col span-1-of-8">
                    <label asp-for="ZipCode">Zip:</label>
                </div>
                <div class="col span-3-of-8">
                    <input asp-for="ZipCode">
                </div>
            </div>
            <div class="row map-search">
                <div class="col span-7-of-7">
                    <div id="divMap" style="width:100%;height:300px"></div>
                    <div id="infowindow-content">
                        <img src="" width="16" height="16" id="place-icon">
                        <span id="place-name" class="title"></span><br>
                        <span id="place-address"></span>
                        @*<a style="float:left;" class="btn btn-primary select-link">Select Location!</a>*@
                    </div>
                </div>

            </div>

            <input type="hidden" asp-for="XCoord" />
            <input type="hidden" asp-for="YCoord" />
            <input type="hidden" asp-for="GooglePlaceId" />

            <div class="row">

                    <a class="btn btn-primary width-100" id="btnSubmit">Save Event Changes!</a>

            </div>
        </form>
    </div>
</section>





@section Scripts{
    <script type="text/javascript" src="~/content/scripts/events/edit.js"></script>
    <script type="text/javascript" src="~/content/scripts/shared/maps.js"></script>
    <script type="text/javascript">
        $(document).ready(function () {
            Maps.Init({
                mapDiv: 'divMap',
                txtAutocomplete: 'LocationName',
                placeChangeCallback: EditEvent.PlaceChange,
                mapLoadedCallback: EditEvent.MapLoaded
            });

        });
    </script>
    <script async defer
            src="https://maps.googleapis.com/maps/api/js?key=AIzaSyA8AObtWB7hUVmZkx7p6KIt2aXiKMZVXDk&libraries=places,drawing&callback=Maps.InitMap">
    </script>

}
