@using ElGroupo.Web.Models.Home
@model UserDashboardModel

<section id="secMain">
    @if (Model.TimeZoneChanged)
    {
        <div class="width-100" style="background-color:black; color:white; text-align:center; padding-top:10px; padding-bottom:10px;">

            <div style="text-transform:uppercase;">It appears that you are not in your selected time zone.  Do you want to change your time zone settings?</div>

        </div>

    }

        <div class="row">
            @*<div class="centered" style="font-family:Raleway; font-size:20px; color:#161616;">Welcome, @Model.FirstName</div>
            <div id="divImg" class="image-circle-100" style="background-image: url('/Users/UserPhoto/@Model.UserId')">

            </div>*@

            <div class="width-100 centered">
                <img src="/Users/UserPhoto/@Model.UserId" style="border-radius:100%; height:80px; width:80px; vertical-align:middle; line-height:80px;" />
                <span style="font-family:Raleway; font-size:20px; color:#161616; vertical-align:middle; line-height:80px;">Welcome, @Model.FirstName</span>
            </div>
            


        </div>

    <div class="row" style="height:186px; margin-top:26px;">
        <div class="col span-1-of-3">
            <a asp-controller="Activities" asp-action="Dashboard" class="no-decoration">
                <div class="user-dashboard-link">

                    <img src="~/content/images/logactivity.png" style="height:75px; width:75px;" />

                    <div>Log An Activity</div>


                </div>
            </a>
        </div>
        <div class="col span-1-of-3">
            <a asp-controller="Events" asp-action="Dashboard">
                <div class="user-dashboard-link">
                    <img src="~/content/images/upcomingevents.png" style="height:50px; width:50px;" />
                    <div>View Upcoming Events</div>

                </div>
            </a>
        </div>

        <div class="col span-1-of-3">
            <a asp-controller="Events" asp-action="Create">
                <div class="user-dashboard-link">
                    <img src="~/content/images/createvent.png" style="height:75px; width:75px;" />
                    <div>Create an Event</div>
                </div>
            </a>
        </div>




    </div>
    <div class="row" style="height:186px; margin-top:66px;">

        <div class="col span-1-of-3">
            <a asp-controller="Events" asp-action="Create">
                <div class="user-dashboard-link">
                    <img src="~/content/images/connections.png" style="height:75px; width:75px;" />
                    <div>My Connections</div>
                </div>
            </a>
        </div>
        <div class="col span-1-of-3">
            <a asp-controller="Activities" asp-action="Records">
                <div class="user-dashboard-link">
                    <img src="~/content/images/myrecords.png" style="height:75px; width:75px;" />
                    <div>My Records</div>
                </div>
            </a>
        </div>
        <div class="col span-1-of-3">
            <a asp-controller="Events" asp-action="Create">
                <div class="user-dashboard-link">
                    <img src="~/content/images/checkin.png" style="height:75px; width:75px;" />
                    <div>Check In to an Event</div>
                </div>
            </a>
        </div>






    </div>
</section>