@using ElGroupo.Web.Models.Shared
@using Microsoft.AspNetCore.Identity


@model HeaderViewModel

<style type="text/css">
body {
    font-family: "Lato", sans-serif;
}
    a.no-decoration {
        color: #808080;
        padding-bottom: 0px;
        border-bottom: none;
    }
.sidenav {
    height: 100%;
    width: 0;
    position: fixed;
    z-index: 1;
    top: 0;
    right: 0;
    background-color: #111;
    overflow-x: hidden;
    transition: 0.5s;
    padding-top: 60px;
}

.sidenav a {
    padding: 8px 8px 8px 32px;
    text-decoration: none;
    font-size: 25px;
    color: #818181;
    display: block;
    transition: 0.3s;
}

.sidenav a:hover, .offcanvas a:focus{
    color: #f1f1f1;
}

.sidenav .closebtn {
    position: absolute;
    top: 0;
    right: 25px;
    font-size: 36px;
    margin-left: 50px;
}

@@media screen and (max-height: 450px) {
  .sidenav {padding-top: 15px;}
  .sidenav a {font-size: 18px;}
}
</style>

<header>
    <nav>
        <div class="row width-100">
            @if (Model.IsSignedIn)
            {

                <div class="col span-1-of-8">
                    @*<a asp-controller="Account" asp-action="Edit">My Account</a>*@
                    <a asp-controller="Home" asp-action="Dashboard">Home</a>
                    
                </div>
                <div class="col span-3-of-8">
                    <span style="color:#fff;">Welcome to ElGroupo, @Model.ActiveUser.Name @if (Model.IsAdmin) { <span style="margin-left:5px; font-weight:bold;">Admin</span> }</span>
                </div>
                <div class="col span-3-of-8">
                    <span>Search</span>
                    <input id="txtEventSearch" type="text" placeholder="Enter Event Name or Username..." style="width:150px" />
                    <input id="btnSearchEvents" type="button" class="btn btn-primary" value="Search" />
                </div>
                <div class=" col span-1-of-8">
                    <span style="font-size:30px;cursor:pointer; float:right;" onclick="openNav()">&#9776;</span>
                </div>



                    <div id="mySidenav" class="sidenav">
                        <a href="javascript:void(0)" class="closebtn" onclick="closeNav()">&times;</a>
                        <a asp-controller="Account" class="no-decoration" asp-action="Edit">My Account</a>
                        @if (Model.IsAdmin)
                        {
                            <a asp-controller="Account" class="no-decoration" asp-action="Admin">Acct. Admin</a>
                            <a asp-controller="Events" class="no-decoration" asp-action="Admin">Event Admin</a>

                        }
                        <a href="#" class="no-decoration">View Drafts</a>
                        <a class="no-decoration" asp-controller="Events" asp-action="Create">Create New</a>
                        <a class="no-decoration" asp-controller="Account" asp-action="Logout">Sign Out</a>
                    </div>
                    


            }
            else
            {
                <span style="float:left; font-size:2em; color:#fff;">ElGroupo!</span>
                <ul class="main-nav">
                    <li>
                        <a href="#cities">Contact</a>
                    </li>
                    <li>
                        <a href="#sign-up">About</a>
                    </li>
                </ul>
                @*<a class="mobile-nav-icon"><i class="ion-navicon-round js--nav-icon"></i></a>*@
            }





        </div>
    </nav>
</header>

@section Scripts{



}