@using ElGroupo.Web.Models.Shared
@using Microsoft.AspNetCore.Identity


@model HeaderViewModel

<style type="text/css">
    .sidenav {
        height: 100%;
        width: 0;
        position: fixed;
        z-index: 1;
        top: 0;
        right: 0;
        background-color: #111;
        overflow-x: hidden;
        transition: 0.5s;
        padding-top: 60px;
    }

        .sidenav a {
            padding: 8px 8px 8px 32px;
            text-decoration: none;
            font-size: 25px;
            color: #818181;
            display: block;
            transition: 0.3s;
        }

            .sidenav a:hover, .offcanvas a:focus {
                color: #f1f1f1;
            }

        .sidenav .closebtn {
            position: absolute;
            top: 0;
            right: 25px;
            font-size: 36px;
            margin-left: 50px;
        }

    @@media screen and (max-height: 450px) {
        .sidenav {
            padding-top: 15px;
        }

            .sidenav a {
                font-size: 18px;
            }
    }
</style>

<header>
    <nav>

        @if (Model.IsSignedIn)
            {
            <div style="display:table;" class="width-100">

                <div style="display:table-cell; vertical-align:middle; text-transform:uppercase; font-size:16px; text-align:left; padding-left:2%;" class="span-2-of-8">

                    <span style="display:table-cell; vertical-align:middle; font-family: 'bebas_neuebold';color:black; font-size:29px; letter-spacing:6.3px; line-height:1.28;"><img style="width:100px;" src="~/content/images/logo.jpg" />Scatterbrain</span>
                    @if (Model.IsAdmin)
    {
                <span style="margin-left:5px; font-weight:bold;">Admin</span>
}
                </div>


                <div style="display:table-cell; vertical-align:middle; text-transform:uppercase; font-size:16px; text-align:center; padding-right:2%;" class="span-3-of-8">
                    <div style="display:inline-block; text-align:center;" class="span-1-of-4">
                        <a asp-controller="Events" asp-action="Create">Create New</a>
                    </div>
                    <div style="display:inline-block; text-align:center;" class="span-1-of-4">
                        <a asp-controller="Account" asp-action="Edit">My Connections</a>
                    </div>
                    <div style="display:inline-block; text-align:center;" class="span-1-of-4">
                        <a asp-controller="Home" asp-action="Dashboard">My Events</a>
                    </div>
                    <div style="text-align:center;" class="span-1-of-4 menu-dropdown">
                        <div class="menu-dropdown-button">@Model.ActiveUser.Name</div>
                        <div class="menu-dropdown-content">
                            <div style="width:100%; text-align:center;">
                                <a asp-controller="Account" asp-action="Edit">Account Details</a>
                            </div>
                            <div style="width:100%; text-align:center;">
                                <a asp-controller="Account" asp-action="Departments">My Activity Groups</a>
                            </div>
                            <div style="width:100%; text-align:center;">
                                <a asp-controller="Account" asp-action="Edit">My Attendance</a>
                            </div>
                            <div style="width:100%; text-align:center;">
                                <a asp-controller="Account" asp-action="Logout">Sign Out</a>
                            </div>

                        </div>
                        
                    </div>
                    
                    @*<div style="display:inline-block; text-align: center;" class="span-1-of-5">
                        <a asp-controller="Account" asp-action="Logout">Sign Out</a>
                    </div>*@

                </div>


            </div>
            @*<div class=" col span-1-of-8">
                    <span style="font-size:30px;cursor:pointer; float:right;" onclick="openNav()">&#9776;</span>
                </div>*@
            <div class="row width-100" style="display:table;">
                <div id="mySidenav" class="sidenav">

                    <a href="javascript:void(0)" class="closebtn" onclick="closeNav()">&times;</a>
                    <a class="no-decoration" asp-controller="Events" asp-action="Create">Create New Event</a>
                    <a asp-controller="Account" class="no-decoration" asp-action="Edit">My Account</a>
                    <a asp-controller="Account" class="no-decoration" asp-action="Edit">My Connections</a>
                    @if (Model.IsAdmin)
                    {
                        <a asp-controller="Account" class="no-decoration" asp-action="Admin">Acct. Admin</a>
                        <a asp-controller="Events" class="no-decoration" asp-action="Admin">Event Admin</a>

                    }
                    <a class="no-decoration" asp-controller="Account" asp-action="Logout">Sign Out</a>
                </div>

            </div>
            <hr />
        }
        else
        {
            <div style="display:table; padding-left:10%; padding-right:10%;" class="width-100">
                @*<div style="width:100px;">
                    
                </div>*@
                
                <span style="display:table-cell; vertical-align:middle; font-family: 'bebas_neuebold';color:black; font-size:29px; letter-spacing:6.3px; line-height:1.28;"><img style="width:100px;" src="~/content/images/logo.jpg" />Scatterbrain</span>
                <div style="display:table-cell; vertical-align:middle; text-align:right; text-transform:uppercase;">
                    <span style="padding-right:100px;">
                        <a>Contact</a>
                    </span>
                    <span>
                        <a asp-action="About" asp-controller="Account">About</a>
                    </span>

                </div>

            </div>
            <hr />
        }






    </nav>
</header>

@section Scripts{



}