@model ElGroupo.Web.Mail.Models.ForgotPasswordMailModel
@using Microsoft.AspNetCore.Html
<!DOCTYPE html>

<html>
<head>
    <title>Welcome to Tribez!!</title>
</head>
<body>
    <div>Hello, @Model.Recipient!</div>
    <div>It looks like you forgot your password!</div>
    <div><a href="@(new HtmlString(Model.CallbackUrl))">Click Here to Reset Your Password!</a></div>

    <br />
    <div>Thanks, The El Groupo Team!!</div>
</body>
</html>
