
@using ElGroupo.Web.Models.Account
@model IEnumerable<EditContactModel>
@{
    Layout = null;
}
<table id="tblContacts" class="row">
    <thead>
        <tr>
            <th>Contact Type</th>
            <th>Contact Value</th>
            <th style="width:100px;"></th>
            <th style="width:100px;"></th>
        </tr>
    </thead>
    <tbody>
        @foreach(var m in Model)
        {
            <tr>
                <td>@m.ContactTypeDescription</td>
                <td>@m.Value</td>
                <td><a data-contact-id="@m.Id" style="cursor:pointer;" data-action-type="edit">Edit</a></td>
                <td><a data-contact-id="@m.Id" style="cursor:pointer;" data-action-type="delete">Delete</a></td>
            </tr>
        }
    </tbody>
</table>

