@using ElGroupo.Web.Models.Account
@model EditAccountModel

<section class="section-form">
    <div class="row">
        <h2>Edit your account bitch!</h2>
    </div>
    <div class="row">
        <div asp-validation-summary="All" class="text-danger"></div>
        <form asp-controller="Account" asp-action="Edit" enctype="multipart/form-data" method="post" class="contact-form">
            <div class="row">
                <div class="col span-1-of-3">
                    <label asp-for="Name">Name:</label>
                </div>
                <div class="col span-2-of-3">
                    <input asp-for="Name" placeholder="Enter Name...">
                </div>
            </div>
            <div class="row">
                <div class="col span-1-of-3">
                    <label asp-for="EmailAddress">Email:</label>
                </div>
                <div class="col span-2-of-3">
                    <input asp-for="EmailAddress" placeholder="Enter Email...">
                </div>
            </div>
            <div class="row">
                <div class="col span-1-of-3">
                    <label asp-for="PhoneNumber">Phone Number:</label>
                </div>
                <div class="col span-2-of-3">
                    <input asp-for="PhoneNumber" placeholder="Enter Phone Number...">
                </div>
            </div>
            <div class="row">
                <div class="col span-1-of-3">
                    <label asp-for="ZipCode">ZIP Code:</label>
                </div>
                <div class="col span-2-of-3">
                    <input asp-for="ZipCode" placeholder="Enter Zip Code...">
                </div>
            </div>
            <div class="row">
                @if (Model.HasPhoto)
                {
                    <div class="col span-1-of-3">
                        <label>Current Photo:</label>
                    </div>
                    <div class="col span-2-of-3">
                        <img id="imgPhoto" src="/Account/UserPhoto/@Model.Id" alt="Select a Photo" />
                    </div>
                }
                else
                {
                    <div class="col span-3-of-3">
                        <span>You have not uploaded a photo</span>
                    </div>

                }
            </div>
            <div class="row">
                <div class="col span-1-of-3">
                    <label asp-for="UpdatedPhoto">Update Photo?</label>
                </div>
                <div class="col span-2-of-3">
                    <input asp-for="UpdatedPhoto" type="file" id="inputNewPhoto" placeholder="Select a photo...">
                </div>
                <div style="display:none;" id="divNewPhoto" class="col span-3-of-3">
                    <img id="imgNewPhoto" src="" alt="Select a Photo" height="300" width="300" />
                </div>
            </div>
            <div class="row">
                <div class="col span-1-of-3">
                    <label>&nbsp;</label>
                </div>
                <div class="col span-2-of-3">
                    <input type="submit" value="Save Account Changes!">
                </div>
            </div>
        </form>
    </div>
</section>
<section>
    <h2>Edit Contacts</h2>
    <div class="row">
        <div class="col span-2-of-10">Select Contact Type:</div>
        
        <select class="col span-3-of-10" id="selContactType">
            <option selected></option>
            @foreach (var ct in Model.ContactTypes)
            {
                <option value="@ct.Key">@ct.Value</option>

            }
        </select>
        <input class="col span-4-of-10" type="text" id="txtContactValue" />
        <a class="btn btn-primary span-1-of-10" id="btnAddNewContact">Add New Contact</a>
    </div>
    <div class="row" id="divContactList">
        @Html.Partial("_Contacts", Model.Contacts)
    </div>
</section>

@section Scripts{
<script type="text/javascript" src="~/content/scripts/account/edit.js"></script>
}
