@using ElGroupo.Web.Models.Account
@model ForgotPasswordModel

<div class="row">
    <form asp-controller="Account" asp-action="ForgotPassword" method="post" class="contact-form">
        <h2 class="text-center">Forgot Password</h2>

        <p>Enter the email address associated with your ElGroupo account, then Click Continue.  We'll email you a link to a page to create a new password.</p>

        <div asp-validation-summary="All">
            <div class="row">
                <div class="col span-1-of-10">
                    <label asp-for="Email"></label>
                </div>
                <div class="col span-6-of-10">
                    <input class="width-100" asp-for="Email" />
                </div>
                <div class="col span-3-of-10">
                    <button class="btn btn-primary width-100" type="submit">Submit</button>
                </div>
            </div>
            

            
            

          
            <p class="text-center"><a asp-controller="Account" asp-action="Login">Return to Login</a></p>
        </div>
    </form>
</div>