@using ElGroupo.Web.Models.Account
@model LoginModel

<section style="text-align:center; margin-top:80px;">
    @if (ViewBag.Message != null)
    {
        <h2 class="centered">@ViewBag.Message</h2>

    }
    <div class="row">
        <div class="width-100 larger-text sign-up pointer">SIGN UP</div>
    </div>
    <div class="row top-margin-1">
        <div class="col span-5-of-12" style="height:1px; background-color:black; vertical-align:middle;"></div>
        <div class="col span-2-of-12 no-margin" style="vertical-align:middle; text-align:center;">or</div>
        <div class="col span-5-of-12" style="height:1px; background-color:black; vertical-align:middle;"></div>
    </div>
    <div class="row">
        <div class="width-100 larger-text bold log-in pointer">LOG IN</div>
    </div>


    <div id="divLogin" class="row">

        <form asp-action="Login" method="post" class="contact-form" style="margin-top:50px;">
            <div class="text-danger" asp-validation-summary="All"></div>
            <input type="hidden" asp-for="UtcOffset" id="UtcOffset" />
            <input type="hidden" name="returnUrl" value="@ViewBag.returnUrl" />
            <div class="row sans-pro uppercase left">
                <div class="col span-1-of-3" style="font-size:16px;">
                    @*<label style="font-family:'Source Sans Pro'; text-transform:uppercase;" asp-for="Email">Email:</label>*@
                    Email:
                </div>
                <div class="col span-2-of-3">
                    
                    <input style="border:none transparent;" class="no-border" placeholder="Enter Email Address..." asp-for="Email">
                </div>
            </div>
            <div class="row" style="height:1px; margin-left:10%; margin-right:10%; margin-top:5px; margin-bottom: 5px; background-color:lightgray;"></div>
            <div class="row sans-pro uppercase left">
                <div class="col span-1-of-3" style="font-size:16px;">
                    @*<label style="font-family:'Source Sans Pro';text-transform:uppercase;" asp-for="Password">Password:</label>*@
                    Password:
                </div>
                <div class="col span-2-of-3">
                    <input style="border: none transparent;" class="no-border" placeholder="Enter Password..." id="pw1" asp-for="Password">
                </div>
            </div>

            
            @*<div class="row">
                <div class="col span-1-of-3">
                    <label style="font-family:'Source Sans Pro';" asp-for="RememberMe">Remember Me?</label>
                </div>
                <div class="col span-2-of-3">
                    <input asp-for="RememberMe">
                </div>
            </div>*@
            <div class="row" >
                <div class="col" style="text-align:center; font-size:0.7em; padding-right:10px;">
                    <a asp-controller="Account" asp-action="ForgotPassword">Forgot Password?</a>
                </div>
                @*<div class="col" style="text-align:center; font-size:0.7em;">
                    <a  asp-controller="Account" asp-action="ForgotUsername">Forgot Username?</a>
                </div>*@
            </div>
            <hr />
            <div class="row" style="margin-top:30px;">

                <a asp-route="GoogleLogin"><img src="~/content/images/btn_google_signin_light_focus_web.png" /></a>
            </div>
            <div class="row" style="margin:30px;">
                <button class="btn btn-primary" style="width:50%;" type="submit">Log In</button>
                @*<div class="ion-checkmark-circled"></div>*@
            </div>         
            <hr />
        </form>
    </div>
    <div id="divSignUp">
        @Html.Partial("_Create", new CreateAccountModel())
    </div>


</section>

@*@Html.Partial("../Shared/_Footer")*@
@section Scripts{

    <script type="text/javascript">
        var offset = new Date().getTimezoneOffset();
        document.getElementById('UtcOffset').value = offset.toString();
    </script>
    <script type="text/javascript" src="~/content/scripts/account/login.js"></script>
    <script type="text/javascript" src="~/content/scripts/account/create-account.js"></script>
}