@using ElGroupo.Web.Models.Account
@model ResetPasswordModel

<section class="contact-form">
    <h2 class="text-center">Reset Password</h2>
    <form asp-controller="Account" asp-action="ResetPassword" method="post">
        <div asp-validation-summary="All"></div>

        <input asp-for="Code" type="hidden" />
        <div class="row">
            <div class="col span-1-of-3">
                <label asp-for="Email">Email Address:</label>
            </div>
            <div class="col span-2-of-3">
                <input asp-for="Email" class="width-100" />
            </div>
        </div>
        <div class="row">
            <div class="col span-1-of-3">
                <label asp-for="Password">New Password:</label>
            </div>
            <div class="col span-2-of-3">
                <input asp-for="Password" class="width-100" />
            </div>
        </div>
        <div class="row">
            <div class="col span-1-of-3">
                <label asp-for="ConfirmPassword">Confirm New Password:</label>
            </div>
            <div class="col span-2-of-3">
                <input asp-for="ConfirmPassword" class="width-100" />
            </div>
        </div>
        <button class="btn btn-primary" type="submit">Reset Password</button>
        <p class="text-center"><a asp-controller="Account" asp-action="Login">Return to Login</a></p>
    </form>
</section>